<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="shortcurt icon" href="/img/logo.ico">

        <title>编译原理教辅系统讨论区</title>

        <script src="/js/user.js"></script>
        <script src="/js/outlook.js"></script>
    </head>
    <body onload="return notice('{{.notice}}')">
        <header class="header2">
            <div>
                <h1>{{.user.Name}}</h1>
                <a style="font-size: small;" href="/signin">重新登录</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a style="font-size: small;" href="/{{.identity}}">我的主页</a>
            </div>
        </header>
        <hr />

        <nav class="mynav">
            <div>
                <ul>
                    <li><a id="main" href="/community" class="myselect li"  onmouseover="setBgColor('main', 'rgb(245, 220, 245)')" onmouseout="setBgColor('main', 'rgb(250, 245, 250)')">论坛首页</a></li>
                    <li><a id="addq" class="myselect li" style="background-color: rgb(245, 220, 245);">发帖</a></li>
                    <li><a id="questions" href="/community/myquestions" class="myselect li" onmouseover="setBgColor('questions', 'rgb(245, 220, 245)')" onmouseout="setBgColor('questions', 'rgb(250, 245, 250)')">我的帖子</a></li>
                </ul>
            </div>
        </nav>

        <section class="mysection">
            <div class="container" style="width: 700px;">
                <br /><br /><br />
                <form id="question_form" action="" onsubmit="return judgeEmpty('question_form', 'title', '帖子标题') && judgeEmpty('question_form', 'content', '帖子内容')" method="post">
                    <div>
                        <label class="label" for="title">请输入帖子标题:</label>
                        <textarea class="input" style="height: 3em;" type="text" name="topic" minlength="1" maxlength="256"></textarea>
                    </div>
                    <br />
                    <div>
                        <label class="label" for="content">请输入帖子内容</label>
                        <textarea class="input" style="height: 15em;" type="text" name="content" minlength="5" maxlength="1024"></textarea>
                    </div>

                    <br />

                    <div>
                        <p class="control">
                            <button type="submit" class="button is-success" value="submit"> 发布 </button>
                        </p>
                    </div>
                </form>
            </div>
        </section>

        <hr />

        <footer class="footer">
            <label>Copyright © <a href="https://ladlod.com" target="_blank">Ladlod</a> |2020.2</label>
        </footer>
    </body>
</html>