<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="shortcurt icon" href="/img/logo.ico">

        <title>编译原理教辅系统讨论区</title>

        <script src="/js/user.js"></script>
        <script src="/js/outlook.js"></script>
    </head>
    <body onload="return notice('{{.notice}}')">
        <header class="header2">
            <div>
                <h1>{{.user.Name}}</h1>
                <a style="font-size: small;" href="/signin">重新登录</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a style="font-size: small;" href="/{{.identity}}">我的主页</a>
            </div>
        </header>
        <hr />

        <nav class="mynav">
            <div>
                <ul>
                    <li><a id="main" href="/community" class="myselect li" onmouseover="setBgColor('main', 'rgb(245, 220, 245)')" onmouseout="setBgColor('main', 'rgb(250, 245, 250)')">论坛首页</a></li>
                    <li><a id="addq" href="/community/postquestion" class="myselect li" onmouseover="setBgColor('addq', 'rgb(245, 220, 245)')" onmouseout="setBgColor('addq', 'rgb(250, 245, 250)')">发帖</a></li>
                    <li><a id="questions" href="/intherow" class="myselect li" onmouseover="setBgColor('questions', 'rgb(245, 220, 245)')" onmouseout="setBgColor('questions', 'rgb(250, 245, 250)')">我的帖子</a></li>
                    <li><a id="answers" href="/intherow" class="myselect li" onmouseover="setBgColor('answers', 'rgb(245, 220, 245)')" onmouseout="setBgColor('answers', 'rgb(250, 245, 250)')">我的回帖</a></li>
                </ul>
            </div>
        </nav>

        <section class="mysection">
            <div class="container">
                <div>
                    <h6>
                        &nbsp;{{.question.AuthorName}}: {{.question.Topic}}
                    </h6>
                </div>

                <div class="pagepiece" style="padding: 5px; width: 1016px; height: 580px;">
                    <div class="question">
                        <div>
                            <p>{{.question.Content}}</p>
                            <div style="padding: 10px; font-size: small; text-align: right;">
                                <a href="javascript:;" onclick="location.href='/community/support/{{.question.Id}}'">推荐:{{.question.Support}}</a>
                                <br />
                                <a href="#answer_form">回复</a>
                            </div>
                        </div>
                        <div style="text-align: right;">
                            <p class="inscribe">{{.question.Time}}</p>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <select class="select" id="sortQ" onchange="changeSort()">
                            <option value="time">时间</option>
                            <option value="support">点亮</option>
                        </select>
                    </div>
                    <div id="s1">
                        {{range .ansByTime}}
                            <div>
                                <p>{{.AuthorName}}: {{.Content}}</p>
                                <div style="font-size: small; text-align: right;">
                                    <a href="javascript:;"onclick="location.href='/community/answer/support/{{.Id}}'">点亮:{{.Support}}</a>
                                </div>
                                <div class="time">{{.Time}}</div>
                                <hr />
                            </div>
                        {{end}}
                    </div>
                    <div id="s2" style="display: none;">
                        {{range .ansBySupport}}
                            <div>
                                <p>{{.AuthorName}}: {{.Content}}</p>
                                <div style="font-size: small; text-align: right;">
                                    <a href="javascript:;"onclick="location.href='/community/answer/support/{{.Id}}'">点亮:{{.Support}}</a>
                                </div>
                                <div class="time">{{.Time}}</div>
                                <hr />
                            </div>
                        {{end}}
                    </div>
                    <script>
                        function changeSort(){
                            var s = document.getElementById("sortQ");
                            if (s.value == "time"){
                                document.getElementById("s1").style.display="inline"
                                document.getElementById("s2").style.display="none"
                            }else if(s.value == "support"){
                                document.getElementById("s2").style.display="inline"
                                document.getElementById("s1").style.display="none"
                            }
                        }
                    </script>

                    <hr />
                    <div>
                        <form name="answer_form" id="answer_form" action="" onsubmit="return judgeEmpty('answer_form', 'content', '回帖内容')" method="post">
        
                            <div>
                                <textarea class="input" style="height: 5em;" type="text" name="content" minlength="3" maxlength="512"></textarea>
                            </div>
                            <br />
                            <div>
                                <p class="control">
                                    <button type="submit" class="button is-success" value="submit"> 回复 </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <hr />

        <footer class="footer">
            <label>Copyright © <a href="https://ladlod.com" target="_blank">Ladlod</a> |2020.2</label>
        </footer>
    </body>
</html>