<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>编译原理教辅系统</title>
        <script src="../static/js/main.js"></script>
        
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <link rel="stylesheet" type="text/css" href="../static/css/bulma.css">
    </head>
    <body onload="return notice('{{.notice}}')">
        <header class="header2">
            <h1>注册账号</h1>
        </header>
        <hr />

        <section class="section">
            <div class="container" style="width: 800px ">
                <form id="signup_form" action="" onsubmit="return judgeForm2('signup_form', 'usertype', 'account', 'username', 'password')" method="POST">
                    <div>
                        <label id="notice"><label>
                    </div>
                    <div class="filed">
                        <label class="label" for="usertype">Choose your identity:</label>
                        <input class="radio" type="radio" name="usertype">Teacher&nbsp;
                        <input class="radio" type="radio" name="usertype">Student
                    </div>

                    <br />

                    <div class="filed">
                        <label class="label" for="account">Enter your account number:</label>
                        <input class="input"  type="text" name="account" minlength="3" maxlength="20">
                    </div>

                    <div class="filed">
                        <label class="label" for="username">Enter your username:</label>
                        <input class="input"  type="text" name="username" minlength="3" maxlength="20">
                    </div>
                    
                    <div class="filed">
                        <label class="label" for="password">Enter your password:</label>
                        <input class="input" name="password" type="password" id="password" minlength="8" maxlength="20">
                    </div>

                    <div class="filed">
                        <label class="label" for="confirm">Confirm your password:</label>
                        <input class="input" name="confirm" type="password" id="confirm" minlength="8" maxlength="20">
                    </div>

                    <br />

                    <div class="filed">
                        <p class="control">
                            <button type="submit" class="button is-success" value="singup" onclick="return judgePassword('signup_form', 'password', 'confirm')"> 确认 </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="button is-success" value="signup" onclick="location.href='signin.html'"> 返回 </button>
                        </p>
                    </div>
                </form>
            </div>
            <br /><br /><br /><br /><br />
        </section>
    </body>
</html>