<!DOCTYPE html>
<html>
    <head>
        <head>
            <meta charset="utf-8">
            <title>{{.username}}</title>
            <script src="../static/js/user.js"></script>
            <script src="../static/js/outlook.js"></script>
            
            <link rel="stylesheet" type="text/css" href="../static/css/main.css">
            <link rel="stylesheet" type="text/css" href="../static/css/bulma.css">
        </head>
    </head>
    <body onload="return notice('{{.notice}}')">
        <header class="header2">
            <div>
                <h1>{{.username}}</h1>
            </div>
        </header>
        <hr />
        <nav class="mynav">
            <div>
                <ul>
                    <li><a id="class" href="/intherow" class="myselect li" style="background-color: rgb(239, 206, 247);">主页</a></li>
                    <li><a id="discuss" href="/intherow" class="myselect li" onmouseover="setBgColor('discuss', 'rgb(239, 206, 247)')" onmouseout="setBgColor('discuss', 'rgb(245, 232, 248)')">讨论</a></li>
                    <li><a id="setting" href="/student/setting" class="myselect li" onmouseover="setBgColor('setting', 'rgb(239, 206, 247)')" onmouseout="setBgColor('setting', 'rgb(245, 232, 248)')">设置</a></li>
                </ul>
            </div>
        </nav>
        <section class="mysection">
            <div>
                <div>
                    <h2 style="text-align: left; font-size: large; padding: 10px;">&nbsp;&nbsp;&nbsp;我的课堂</h2>
                </div>
                <div class="pagepiece" style="width: 816px; height: 300px; ">
                    <table class="classtable">
                        <tr>
                                <th class="tabletd">课堂编号</th><th class="tabletd">课堂名称</th><th class="tabletd">教师</th>
                        </tr>
                        {{range .courses}}
                        <tr>
                            <td>
                                <a id="course{{.Id}}" href="/student/{{.Id}}" class="myselect td" onmouseover="setBgColor('course{{.Id}}', 'rgb(239, 206, 247)')" onmouseout="setBgColor('course{{.Id}}', 'rgb(245, 214, 252)')"></a>
                                <script>
                                    var res = '{{.Id}}' + "";
                                    var n = res.length;
                                    while(n < 4){
                                        res = '0' + res;
                                        n++;
                                        }
                                    document.getElementById("course{{.Id}}").innerHTML = res;
                                </script>
                            </td>
                            <td class="tabletd">{{.Name}}</td>
                            <td class="tabletd">{{.Teacher.Name}}</td>
                        </tr>
                        {{end}}
                    </table>
                </div>
                <br />
                <div>
                    <h2 style="text-align: left; font-size: large; padding: 10px; width: 200px;">&nbsp;&nbsp;&nbsp;搜索课堂</h2>
                </div>
                <div class="pagepiece" style="width: 816px; height: 200px;">
                    <div style="text-align: right; font-size: medium; padding: 10px;">
                        <form id="search_form" action="" onsubmit="return judgeEmpty('search_form', 'search_class', '搜索内容')" method="POST">
                            <label>请输入课堂编号：</label>
                            <input name="course" id="course" type="text"></input>
                            <button type="submit">搜索</button>
                        </form>
                    </div>
                    <table class="classtable">
                        <tr>
                                <th class="tabletd">课堂编号</th><th class="tabletd">课堂名称</th><th class="tabletd">教师</th><th class="tabletd"></th>
                        </tr>
                        {{if .search_course}}
                        <tr>
                            <td class="tabletd" id="search_course{{.search_course.Id}}"></td>
                            <td class="tabletd">{{.search_course.Name}}</td>
                            <td class="tabletd">{{.search_course.Teacher.Name}}</td>
                            <td class="tabletd"><button class="button mybutton" style="height: 30px; font-size: small;" onclick="location.href='/student/joincourse/{{.Id}}'">加入课堂</button></td>
                            <script>
                                var res = '{{.search_course.Id}}' + "";
                                var n = res.length;
                                while(n < 4){
                                    res = '0' + res;
                                    n++;
                                    }
                                document.getElementById("search_course{{.search_course.Id}}").innerHTML = res;
                            </script>
                        </tr>
                        {{end}}
                    </table>
                </div>
            </div>
            <div style="padding: 15px;">
                <div>
                    <h2 style="text-align: left; font-size: large; padding: 10px; width: 200px;">&nbsp;&nbsp;&nbsp;通知</h2>
                </div>
                <div class="pagepiece" style="float:right; width: 300px; height: 550px;">
                    <a id="message" href="/intherow" class="myselect notice" onmouseover="setBgColor('message', 'rgb(239, 206, 247)')" onmouseout="setBgColor('message', 'rgb(245, 214, 252)')">test</a>
                </div>
            </div>
        </section>

        <footer class="footer">
            <hr />
            <a href="https://github.com/ladlod/Teaching-assistant-system">帮助</a>
            <label class="label">Ladlod 2020.2</label>
        </footer>
    </body>
</html>