<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{.course.Name}}</title>

        <script src="/js/user.js"></script>
        <script src="/js/outlook.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <header class="header2">
            <div>
                <h1>{{.course.Name}}</h1>
                <a style="font-size: small;" href="/signin">重新登录</a>
            </div>
        </header>

        <hr />

        <section class="mysection">
            <div>
                <div>
                    <h6>&nbsp;&nbsp;&nbsp;学生列表</h6>
                </div>
                <div class="pagepiece" style="width: 416px; height: 600px;">
                    <table class="table student">
                        <tr>
                            <th class="tabletd">学生编号</th><th class="tabletd">学生姓名</th><th class="tabletd">签到状态</th>
                        </tr>
                        {{range .students}}
                        <tr>
                            <td class="tabletd" id="student{{.Id}}"></td>
                            <td class="tabletd">{{.Name}}</td>
                            <td class="tabletd">签到模块待完成</td>
                            <script>
                                var res = '{{.Id}}' + "";
                                var n = res.length;
                                while(n < 4){
                                    res = '0' + res;
                                    n++;
                                    }
                                document.getElementById("student{{.Id}}").innerHTML = res;
                            </script>
                        </tr>
                        {{end}}
                    </table>
                </div>
            </div>

        </section>
        
        <footer class="footer">
            <hr />
            <a href="https://github.com/ladlod/Teaching-assistant-system">帮助</a>
            <label class="label">Ladlod 2020.2</label>
        </footer>
    </body>
</html>