<!DOCTYPE html>
<html>
    <head>
        <head>
            <meta charset="utf-8">
            <title>{{.username}}</title>
            <script src="/js/user.js"></script>
            <script src="/js/outlook.js"></script>
            
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
    </head>
    <body onload="return notice('{{.notice}}')">
        <header class="header2">
            <div>
                <h1>{{.username}}</h1>
                <a style="font-size: medium;" href="/signin">重新登录</a>
            </div>
        </header>
        <hr />
        <nav class="mynav">
            <div>
                <ul>
                    <li><a id="class" class="myselect li" style="background-color: rgb(239, 206, 247);">主页</a></li>
                    <li><a id="exam" href="/intherow" class="myselect li" onmouseover="setBgColor('exam', 'rgb(239, 206, 247)')" onmouseout="setBgColor('exam', 'rgb(245, 232, 248)')">题库</a></li>
                    <li><a id="discuss" href="/intherow" class="myselect li" onmouseover="setBgColor('discuss', 'rgb(239, 206, 247)')" onmouseout="setBgColor('discuss', 'rgb(245, 232, 248)')">讨论</a></li>
                    <li><a id="setting" href="/teacher/setting" class="myselect li" onmouseover="setBgColor('setting', 'rgb(239, 206, 247)')" onmouseout="setBgColor('setting', 'rgb(245, 232, 248)')">设置</a></li>
                </ul>
            </div>
        </nav>

        <section class="mysection">
            <div>
                <div>
                    <h6>&nbsp;&nbsp;&nbsp;我的课堂</h6>
                </div>
                <div class="pagepiece" style="width: 816px; height: 300px; ">
                    <table class="table course">
                        <tr>
                                <th class="tabletd">课堂编号</th><th class="tabletd">课堂名称</th>
                        </tr>
                        {{range .courses}}
                        <tr>
                            <td>
                                <a id="course{{.Id}}" href="/intherow" class="myselect td" onmouseover="setBgColor('course{{.Id}}', 'rgb(239, 206, 247)')" onmouseout="setBgColor('course{{.Id}}', 'rgb(245, 214, 252)')"></a>
                                <script>
                                    var res = '{{.Id}}' + "";
                                    var n = res.length;
                                    while(n < 4){
                                        res = '0' + res;
                                        n++;
                                        }
                                    document.getElementById("course{{.Id}}").innerHTML = res;
                                </script>
                            </td>
                            <td class="tabletd">{{.Name}}</td>
                            <td class="tabletd"><button class="button mybutton" style="height: 30px; font-size: small;" onclick="location.href='/teacher/dropcourse/{{.Id}}'">解散课堂</button></td>
                        </tr>
                        {{end}}
                    </table>
                </div>
                <br />

                <div>
                    <h6>&nbsp;&nbsp;&nbsp;创建课堂</h6>
                </div>
                <div class="pagepiece" style="width: 816px; height: 200px;">
                    <form id="course_form" action="" onsubmit="return judgeEmpty('course_form', 'course', '课堂名称')" method="POST">
                        <div>
                            <label id="notice"><label>
                        </div>
                        <br />

                        <div class="filed">
                            <label class="label" for="course_name">请输入课堂名称:</label>
                            <input class="input" style="width: 750px;" type="text" name="course" minlength="3" maxlength="20">
                        </div>
                        <div style="padding: 25px;">
                            <button type="submit" class="button mybutton" style="float: right;" value="make"> 创建 </button>
                        </div>
                    </form>
                </div>
            </div>

            <div style="padding: 15px;">
                <div>
                    <h6>&nbsp;&nbsp;&nbsp;通知</h6>
                </div>
                <div class="pagepiece" style="float:right; width: 316px; height: 550px;">
                    <a id="message" href="/intherow" class="myselect notice" onmouseover="setBgColor('message', 'rgb(239, 206, 247)')" onmouseout="setBgColor('message', 'rgb(245, 214, 252)')">test</a>
                </div>
            </div>
        </section>

        <footer class="footer">
            <hr />
            <a href="https://github.com/ladlod/Teaching-assistant-system">帮助</a>
            <label class="label">Ladlod 2020.2</label>
        </footer>
    </body>
</html>