<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{.course.Name}}</title>

        <script src="/js/user.js"></script>
        <script src="/js/outlook.js"></script>
        
        <link rel="shortcurt icon" href="/img/logo.ico">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body onload="return notice('{{.notice}}')">
        <header class="header2">
            <div>
                <h1>{{.course.Name}}</h1>
                <a style="font-size: small;" href="/signin">重新登录</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a style="font-size: small;" href="/teacher">我的主页</a>
            </div>
        </header>

        <hr />

        <nav class="mynav">
            <div>
                <ul>
                    <li><a id="class" href="/teacher/course" class="myselect li" onmouseover="setBgColor('class', 'rgb(245, 220, 245)')" onmouseout="setBgColor('class', 'rgb(250, 245, 250)')">主页</a></li>
                    <li><a id="clockin" onclick="setSignPassword()" class="myselect li" onmouseover="setBgColor('clockin', 'rgb(245, 220, 245)')" onmouseout="setBgColor('clockin', 'rgb(250, 245, 250)')">开启签到</a></li>
                    <li><a id="exam" href="/intherow" class="myselect li" onmouseover="setBgColor('exam', 'rgb(245, 220, 245)')" onmouseout="setBgColor('exam', 'rgb(250, 245, 250)')">发布考试</a></li>
                    <li><a id="homework" class="myselect li" style="background-color: rgb(245, 220, 245);">布置作业</a></li>
                </ul>
            </div>
        </nav>

        <section class="mysection">
            <div class="container" style="width: 700px;">
                <br /><br /><br />
                <form id="homework_form" action="" onsubmit="return judgeEmpty('homework_form', 'content', '作业要求')" method="post">
                    <br />

                    <div>
                        <label class="label" for="content">请输入作业要求:</label>
                        <textarea class="input" style="height: 15em;" type="text" name="content" minlength="5" maxlength="1024"></textarea>
                    </div>
                    
                    <div>
                        <label class="label" for="ddl">请选择截止日期(不选择则默认为无截止日期):</label>
                        <input class="input" name="ddl" type="date" id="ddl">
                    </div>

                    <br />

                    <div>
                        <p class="control">
                            <button type="submit" class="button is-success" value="submit"> 确认 </button>
                        </p>
                    </div>
                </form>
            </div>
        </section>
        
        <footer class="footer">
            <hr />
            <label>Copyright © <a href="https://ladlod.com" target="_blank">Ladlod</a> |2020.2</label>
        </footer>
    </body>
</html>