.header{
    color:black;
    font-size: xx-large;
    text-align:center;
    padding:30px 25px 5px 25px;
}

.header2{
    color: black;
    font-size: large;
    text-align: left;
    padding:30px 25px 5px 25px;
}