.header{
    color:black;
    font-size: 45px;
    text-align:center;
    padding:25px 25px 5px 25px;
}

.header2{
    color: black;
    font-size: x-large;
    text-align: left;
    padding:30px 25px 5px 25px;
}