<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>编译原理考试</title>

        <script src="/js/user.js"></script>
        <script src="/js/outlook.js"></script>
        
        <link rel="shortcurt icon" href="/img/logo.ico">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body onload="return notice('{{.notice}}')">
        <header class="header2">
            <div>
                <h1>{{.student.Name}}</h1>
                <a style="font-size: small;" href="/signin">重新登录</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a style="font-size: small;" href="/student">我的主页</a>
            </div>
        </header>

        <hr />

        <section class="mysection">
            <div class="container">
                <div class="pagepiece" style="width: 1016px; height: 650px;">
                    <form id="exam_form" action="" method="POST">
                    {{range .problems}}
                        <div class="problem">     
                            Question:{{.Question}}
                            <br />
                            {{if eq .Type 1}}
                            <input class="radio" type="radio" name="{{.Id}}" value="A">&nbsp;A.{{.A}}
                            <input class="radio" type="radio" name="{{.Id}}" value="B">&nbsp;B.{{.B}}
                            <input class="radio" type="radio" name="{{.Id}}" value="C">&nbsp;C.{{.C}}
                            <input class="radio" type="radio" name="{{.Id}}" value="D">&nbsp;D.{{.D}}
                            <br />
                            {{end}}
                            {{if eq .Type 2}}
                            <input class="input" type="text" name="{{.Id}}">
                            {{end}}
                            {{if eq .Type 3}}
                            <textarea class="input" style="height: 5em;" type="text" name="{{.Id}}"></textarea>
                            {{end}}                    
                        </div>
                    {{end}}
                    &nbsp;&nbsp;&nbsp;<button type="submit" class="button is-success" value="submit">交卷</button>
                    </form>
                </div>
            </div>
        </section>
        
        <hr />
        
        <footer class="footer">  
            <label>Copyright © <a href="https://ladlod.com" target="_blank">Ladlod</a> |2020.2</label>
        </footer>
    </body>
</html>