<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{.course.Name}}</title>

        <script src="/js/user.js"></script>
        <script src="/js/outlook.js"></script>
        
        <link rel="shortcurt icon" href="/img/logo.ico">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body onload="return notice('{{.notice}}')">
        <header class="header2">
            <div>
                <h1>{{.course.Name}}</h1>
                <a style="font-size: small;" href="/signin">重新登录</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a style="font-size: small;" href="/student">我的主页</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a style="font-size: small;" href="/student/course">班级主页</a>
            </div>
        </header>

        <hr />

        <section class="mysection">
            <div class="container">
                <div class="pagepiece" style="width: 800px; height: 500px;">
                    <form action="" method="post" enctype="multipart/form-data" onsubmit="return judgeFile()">
                        <div>
                            <textarea class="textarea" style="margin: 30px; height: 300px;" type="text" name="content" readonly>    {{.homework.Content}}</textarea>
                        </div>
                        <div class="time" style="float: left;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            截止日期：{{.homework.Ddl}}
                            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            注意：提交作业时请以自己的学号或姓名作为文件名用于与他人区分。
                        </div>
                        <div style="padding: 0px 20px; float: right;">
                            <input class="file" type="file" id="uploadfile" name="uploadfile" style="font-size: medium; width: 200px;">

                            <br />

                            <p class="control">
                                <button class="button is-success" type="submit" value="upload"> 提交 </button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        
        <hr />
        
        <footer class="footer">  
            <label>Copyright © <a href="https://ladlod.com" target="_blank">Ladlod</a> |2020.2</label>
        </footer>
    </body>
</html>